[submodule "src/cppgtfs"]
	path = src/cppgtfs
	url = https://github.com/ad-freiburg/cppgtfs.git
[submodule "src/configparser"]
	path = src/configparser
	url = https://git.patrickbrosi.de/patrick/configparser
